
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup-wrapper {
  animation: slideUp 0.7s ease;
}

.signup-form {
  background: white;
  padding: 35px 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.signup-form h2 {
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
  color: #333;
}

.signup-form input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.signup-form button {
  width: 100%;
  padding: 12px;
  background: #5568fe;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.signup-form button:hover {
  background: #4455d1;
}

.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #5568fe;
  text-decoration: none;
  font-weight: 500;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
