* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #0a2a43, #0f1d2d);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  text-align: center;
  color: white;
}

.typing-text {
  font-size: 3.5rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fff;
  width: 0;
  animation: typing 2.5s steps(10) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10ch;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.quote {
  margin-top: 20px;
  font-size: 1.1rem;
  opacity: 0;
  animation: fadeIn 2s ease-in-out 3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
